body {
  color-scheme: light dark;
  font-family: "Smooch Sans", serif;
}

#imgLightDark {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  transition: filter 0.25s;
}

.inverted{
  filter: invert(100%);
}

#loginbtn {
    background-color: light-dark(black, white);
    color: light-dark(white, black);
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 235px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: inherit;
    font-size: larger;
  }

  #signupbtn {
    background-color: light-dark(black, white);
    color: light-dark(white, black);
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 235px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: inherit;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 21.5px;
  }

  button:hover {
    opacity: 0.8;
  }
  button:active {
    opacity: 0.4;
  }

  #logcont {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-optical-sizing: auto;
    font-weight: 3;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: light-dark(white, black);
    border-color: light-dark(black, white);
    height: 330px;
    width: 300px;
    backdrop-filter: blur(3px);
  }

  #signcont {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-optical-sizing: auto;
    font-weight: 3;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: light-dark(white, black);
    border-color: light-dark(black, white);
    height: 350px;
    width: 300px;
    backdrop-filter: blur(3px);
  }

  .container {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-family: "Smooch Sans", serif;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    height: 35%;
    width: 23%;
    backdrop-filter: blur(3px);
}

  #title {
    color: light-dark(black, white);
  }

  #userfield{
    border-radius: 20px;
    border-width: 2px;
    border-color: light-dark(black, white);
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: inherit;
    font-size: larger;
    background: transparent;
    color: light-dark(black, white);
    padding-left: 15px;
  }

  #psswrdfield{
    margin-top: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-color: light-dark(black, white);
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: inherit;
    font-size: larger;
    background: transparent;
    color: light-dark(black, white);
    padding-left: 15px;
  }  

  #psswrdconfirm{
    margin-top: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-color: light-dark(black, white);
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: inherit;
    font-size: larger;
    background: transparent;
    color: light-dark(black, white);
    padding-left: 15px;
  }  

  div.remember {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: light-dark(black, white);
  }

  #forgottxt {
    color: light-dark(black, white);
    font-size: large;
  }

  #movepagetxt {
    text-align: center;
    color: light-dark(black, white);
    font-size: large;
  }

  div.movepage {
    margin-top: 10px;
  }

  .body_Login{
    background-image: url('naranjafondo.jpg');
    background-size: 1100px;
    background-position: top;
  }

  .body_Signup{
    background-image: url('aa.jpg');
    background-size: 1300px;
    background-position: top;
  }

  .body_ForgotPass{
    background-image: url('naranjafondo.jpg');
    background-size: 1100px;
    background-position: top;
  }

  /*Cambios realizados aqui */
  .error-message {
    color: white;
    background-color: red;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: none; /* Oculto por defecto */
    padding: 11.5px;
    border-radius: 1px 1px 15px 15px;
    text-align: center;
}

#ProgressBackground{
  background-color: light-dark(white, black);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

#Progress{
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  background-color: light-dark(black, white);
  border: 3px solid;
  border-color: light-dark(black, white);
  border-radius: 30px;
  width: 30%;
  height: 30px;
  z-index: 1000;
}

#ProgBar{
  background-color: light-dark(white,black);
  width: 5%;
  height: 30px;
  border-radius: 30px;
  margin-right: -30px;
  z-index: 1000;
}

#walk{
  height: 30px;
  border-radius: 30px;
  z-index: 1000;
}

