#loginbtn {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 235px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: "Smooch Sans", serif;
    font-style: bolder;
    font-size: larger;
  }

  #signupbtn {
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 235px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: "Smooch Sans", serif;
    font-style: bolder;
    font-size: larger;
    margin-top: 15px;
  }

  button:hover {
    opacity: 0.8;
  }
  button:active {
    opacity: 0.4;
  }

  #logcont {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 3;
    font-style: bold;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    height: 50%;
    width: 23%;
    backdrop-filter: blur(3px);
  }

  #signcont {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 3;
    font-style: bold;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    height: 55%;
    width: 23%;
    backdrop-filter: blur(3px);
  }

  #title {
    color: white;
  }

  #userfield{
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: "Smooch Sans", serif;
    font-style: bold;
    font-size: larger;
    background: transparent;
    color: white;
    padding-left: 15px;
  }

  #psswrdfield{
    margin-top: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: "Smooch Sans", serif;
    font-style: bolder;
    font-size: larger;
    background: transparent;
    color: white;
    padding-left: 15px;
  }  

  #psswrdconfirm{
    margin-top: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: "Smooch Sans", serif;
    font-style: bolder;
    font-size: larger;
    background: transparent;
    color: white;
    padding-left: 15px;
  }  

  div.remember {
    accent-color: white;
    font-style: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: azure;
  }

  #forgottxt {
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-style: bolder;
  }

  #movepagetxt {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    font-style: bolder;
    
  }

  div.movepage {
    margin-top: 10px;
  }


  html {
    background-image: url('naranjafondo.jpg');
    background-size: 1100px;
    background-position: top;
  }

  .error-message {
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: none;
}