body {
  color-scheme: light dark;
  font-family: "Smooch Sans", serif;
}

#imgLightDark {
  height: 50px;
  width: 50px;
}

#loginbtn {
    background-color: light-dark(black, white);
    color: light-dark(white, black);
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 235px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: inherit;
    font-size: larger;
  }

  #signupbtn {
    background-color: light-dark(black, white);
    color: light-dark(white, black);
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 235px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: inherit;
    font-size: larger;
    margin-top: 15px;
  }

  button:hover {
    opacity: 0.8;
  }
  button:active {
    opacity: 0.4;
  }

  #logcont {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-optical-sizing: auto;
    font-weight: 3;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: light-dark(white, black);
    border-color: light-dark(black, white);
    height: 330px;
    width: 300px;
    backdrop-filter: blur(3px);
  }

  #signcont {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-optical-sizing: auto;
    font-weight: 3;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-color: light-dark(white, black);
    border-color: light-dark(black, white);
    height: 350px;
    width: 300px;
    backdrop-filter: blur(3px);
  }

  #title {
    color: light-dark(black, white);
  }

  #userfield{
    border-radius: 20px;
    border-width: 2px;
    border-color: light-dark(black, white);
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: inherit;
    font-size: larger;
    background: transparent;
    color: light-dark(black, white);
    padding-left: 15px;
  }

  #psswrdfield{
    margin-top: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-color: light-dark(black, white);
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: inherit;
    font-size: larger;
    background: transparent;
    color: light-dark(black, white);
    padding-left: 15px;
  }  

  #psswrdconfirm{
    margin-top: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-color: light-dark(black, white);
    border-style: solid;
    height: 35px;
    width: 220px;
    font-family: inherit;
    font-size: larger;
    background: transparent;
    color: light-dark(black, white);
    padding-left: 15px;
  }  

  div.remember {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: light-dark(black, white);
  }

  #forgottxt {
    margin-left: 40px;
    color: light-dark(black, white);
  }

  #movepagetxt {
    text-align: center;
    color: light-dark(black, white);
    font-size: large;
  }

  div.movepage {
    margin-top: 10px;
  }

  .body_Login{
    background-image: url('naranjafondo.jpg');
    background-size: 1100px;
    background-position: top;
  }

  .body_Signup{
    background-image: url('aa.jpg');
    background-size: 1300px;
    background-position: top;
  }

  .error-message {
    color: light-dark(black, white);
    background-color: red;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: none;
}
