/* Estilos generales */
:root {
    --background-color-light: #ffffff;
    --background-color-dark: #1c1c1c;
    --calculator-bg-light: #fff;
    --calculator-bg-dark: #000;
    --display-bg-light: #f5f5f5;
    --display-bg-dark: #1c1c1c;
    --display-color-light: #000;
    --display-color-dark: #fff;
    --button-bg-light: #e9e6e6;
    --button-bg-dark: #505050;
    --button-text-color-light: #000;
    --button-text-color-dark: #fff;
    --button-operator-bg: #8a34d6;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 35px 50px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#usernma{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* Ajustar el contenido para que no quede oculto detrás del navbar */
.content {
    margin-top: 60px;
}


/* Ajuste para móviles */
@media (max-width: 600px) {
    .navbar {
        font-size: 16px;
        padding: 10px 15px;
    }
    .logout-btn {
        padding: 8px 12px;
        font-size: 12px;
    }
}

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-dark);
    background-image: url('https://wallpapers.com/images/hd/8-bit-japan-2535-x-1068-3ppzaj84d0c7rk6m.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-color 0.3s ease;
    overflow: hidden;
}


.calculator {
    width: 320px;
    background-color: var(--calculator-bg-dark);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 15px #8a34d6;
}

.display {
    background-color: var(--display-bg-dark);
    color: var(--display-color-dark);
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#result-gif, #error-gif {
    width: 40px;
    height: 40px;
    display: hidden;  /* Ocultos por defecto */
}

.hidden {
    display: none;
}

.visible {
    display: inline-block;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--button-bg-dark);
    color: var(--button-text-color-dark);
    border: none;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn:hover {
    filter: brightness(1.2);
}

.operator {
    background-color: var(--button-operator-bg);
    color: #fff;
}

.theme-toggle {
    font-family: 'Press Start 2P', cursive;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: var(--button-operator-bg);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.light-mode {
    --background-color-dark: var(--background-color-light);
    --calculator-bg-dark: var(--calculator-bg-light);
    --display-bg-dark: var(--display-bg-light);
    --display-color-dark: var(--display-color-light);
    --button-bg-dark: var(--button-bg-light);
    --button-text-color-dark: var(--button-text-color-light);
}

/* Estilos para el historial */
.history-section {
    position: absolute;
    top: 180px;
    right: 270px;
    width: 250px;
    max-height: 70%;
    overflow-y: auto;
    background-color: var(--calculator-bg-dark);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px #8a34d6;
    display: inside;
}

.history-list {
    list-style: none;
    padding: 0;
}

.history-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}

.history-list button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.history-list button:hover {
    background-color: darkred;
}

#toggle-history-btn {
    background-color: #8a34d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
}


#logout-btn {
    position: absolute; /* Asegúrate de posicionarlo de forma absoluta */
    right: 300px; /* Lo mueve a la esquina derecha */
    top: 50%; /* Lo centra verticalmente */
    transform: translateY(-50%); /* Centra perfectamente el botón */
    background-color: #272626;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#logout-btn:hover {
    background-color: #8a34d6;
}


