:root {
    --background-color: #705d5d;
    --calculator-bg: #000;
    --display-bg: #333;
    --display-color: #fff;
    --button-bg: #fff;
    --button-operator-bg: #f0a33c;
    --button-equals-bg: #ff9f0a;
    --button-text-color: #ffffff;
    --button-operator-text: #fff;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.calculator {
    width: 320px;
    background-color: var(--calculator-bg);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: var(--display-bg);
    color: var(--display-color);
    font-size: 2.8rem;
    text-align: right;
    padding: 15px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.btn {
    background-color: #212020;
    color: var(--button-text-color);
    border: none;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

.btn-ac{
    background-color: #c89312f5;
}

.history {
    margin-top: 10px;
    background-color: #333333;
    padding: 10px;
    border-radius: 0px;
    max-height: 200px;
    overflow-y: auto;
    display: true;
}

.history-button {
    color: red;
}
 
#calculator-container{
    display: block;
}