:root {
    --background-color: #000;
    --calculator-bg: #000;
    --display-bg: #333;
    --display-color: #fff;
    --button-bg: #444;
    --button-operator-bg: #f0a33c;
    --button-equals-bg: #ff9f0a;
    --button-ac-bg: #888;
    --button-text-color: #fff;
    --calculator-border-color: #666;
}

[data-theme="light"] {
    /* Tema Claro */
    --background-color: #f0f0f0;
    --calculator-bg: #fff;
    --display-bg: #e0e0e0;
    --display-color: #000;
    --button-bg: #f5f5f5;
    --button-operator-bg: #ff9500;
    --button-equals-bg: #ff9f0a;
    --button-ac-bg: #d4d4d4;
    --button-text-color: #000;
    --calculator-border-color: #ccc;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #394949;
    margin: 0;
}

.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.calculator {
    width: 360px;
    background-color: var(--calculator-bg);
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    padding: 20px;
    border: 2px solid var(--calculator-border-color);
    position: relative;
}


.display {
    background-color: var(--display-bg);
    color: var(--display-color);
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    height: 80px;
    line-height: 60px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555; /* Gris más oscuro al pasar el ratón */
}

.operator {
    background-color: var(--button-operator-bg);
}

.equals {
    background-color: var(--button-equals-bg);
}

.zero {
    grid-column: span 2;
    border-radius: 30px;
    text-align: left;
    padding-left: 30px;
}

.btn[data-action="clear"],
.btn[data-action="sign"],
.btn[data-action="percent"] {
    background-color: var(--button-ac-bg);
}

.menu-icon {
    position: abs   olute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.history {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.history h3 {
    margin-top: 0; /* Eliminar el margen superior del título */
}

.history-button {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

#logout-button {
    margin-top: 20px;
    background-color: var(--button-equals-bg);
    color: var(--button-operator-text);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: darken(var(--button-equals-bg), 10%);
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

#theme-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--button-text-color);
}

@keyframes buttonPressAnimation {
    0% {
        transform: scale(1);
        background-color: var(--button-bg);
    }
    50% {
        transform: scale(0.9);
        background-color: #777; /* Color más claro durante la animación */
    }
    100% {
        transform: scale(1);
        background-color: var(--button-bg);
    }
}

.btn:active {
    animation: buttonPressAnimation 0.2s ease;
}

.history li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    background-color: #444;
    border-radius: 5px;
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

