body{
    background-color: rgb(124, 121, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signin-container{
    background-color: rgb(105, 105, 105);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 20vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.inputbox {
    position: relative;
    width: 196px;
    margin: 20px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
    color: #0e393c;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.291);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
    height: 44px;
}


.inputbox2 {
    position: relative;
    width: 196px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.inputbox2 input {
    flex: 1;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox2 span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox2 input:valid ~span,
.inputbox2 input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
}

.inputbox2 i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox2 input:valid ~i,
.inputbox2 input:focus ~i {
    height: 44px;
}

.inputbox2 button{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(46, 46, 46);
    transform: translateY(210%);
    cursor: pointer;
}

#loginButton {
    --color: #312e35;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}
  
#loginButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
  
#loginButton:hover {
    color: #9e9e9e;
}
  
#loginButton:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
  
#loginButton:hover:before {
    top: -30px;
    left: -30px;
}
  
#loginButton:active:before {
    background: #000000;
    transition: background 0s;
}
  