
:root {
    --bg: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0.5rem;
}

.notification--info {
    --bg: #F0FBFE;
    --primary: #0EA1E7;
}

.notification--finalised {
    --bg: #F7F6FB;
    --primary: #9077DF;
}

.notification--failure {
    --bg: #FFF1F6;
    --primary: #C43060;
}

.notification--warning {
    --bg: #FFF9EB;
    --primary: #d6a024;
}

.notification--success {
    --bg: #ECFBF2;
    --primary: #335D48;
}

.notification {
    min-width: 22rem;
    margin-left: auto; 
    margin-right: auto; 
    background: var(--bg);
    color: var(--primary);
    border-left: 0.25rem solid 
        var(--primary);
    transform: translateY(1.875rem);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.notification__icon {
    height: 1.625rem;
    width: 1.625rem;
    margin-right: 0.45rem;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
}

.notification__progress {
    position: absolute;
    left: 0.25rem;
    bottom: 0.25rem;
    width: calc(100% - 0.5rem);
    height: 0.2rem;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--bg),  
        var(--primary)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}